<!doctype html>
<html>
<head>
<title>{{name}}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
<meta property="fb:app_id" content="290349283473" />
<meta property="og:title" content="News" />
<meta property="og:site_name" content="Cars.com" />
<meta property="og:image" content="//graphics.cars.com/images/core/logo.png" />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">
<link href="/static/www/dev/app/bundles/common.css" rel="stylesheet" type="text/css" />
<!--[if IE 9]>
    <link href="/static/www/dev/app/bundles/ie9.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script src="/static/www/dev/app/js/init.js"></script>
</head>
<body cars-common ng-class="currentBreakpoint" class="onecol-layout">
<div class="page">
    <div class="main-header">
        <cars-cobrand-bar></cars-cobrand-bar>
    </div>
    <div class="page-body secondary">
        <div class="clearfix"></div>
        <div class="container col-group">
            <div class="col-mb-12 col-12 col-dt-12">

                <h1>{{name}}</h1>

                {{#each slots}}

                    {{#if isCuratedArticles}}
                        <script>ignition.modules.register('media');</script>
                        <cars-carousel show-text="true" show-thumbs="true" ng-cloak>
                        {{#each items}}
                            <cars-carousel-item title="{{name}}" image="http://lpimages-st.cars.com/stock/1170x1170/14/-922595012-1432129342014.JPG" href="{{href}}">
                            <h3>{{name}}</h3>
                            <a href="{{href}}"><img alt="{{name}}" src="http://lpimages-st.cars.com/stock/765x765/14/-922595012-1432129342014.JPG" /></a>
                            </cars-carousel-item>
                        {{/each}}
                        </cars-carousel>
                    {{/if}}

                    {{#if isAd}}
                        <cars-ad slot="/6427/cdn.cars.news/index" size="pencil-leader"></cars-ad>
                    {{/if}}

                    {{#if isLatestPublishedArticles}}
                        <script>ignition.modules.register('media');</script>
                        <div class="latest-news">
                            <h2 class="primary">Latest News</h2>
                            <div class="container col-group">
                                <div class="col-mb-12 col-4 col-dt-4 grid-item first-item">
                                    <div class="grid-image-wrapper">
                                        <a name="&lid=article-thumb-latest" class="grid-image" href="/articles/article1437469347084-1415914997755/" title="Article1437469347084" style="background-image:url(http://lpimages-st.cars.com/stock/767x767/65/img-553903493-1437383250365.JPG)"></a>
                                        <h3 class="grid-image-caption"><a name="&lid=article-name-latest" href="/articles/article1437469347084-1415914997755/">Article1437469347084</a></h3>
                                    </div>
                                    <h4 class="grid-image-title"><a name="&lid=article-name-latest" href="/articles/article1437469347084-1415914997755/">Article1437469347084</a></h4>
                                </div>
                                <div class="col-mb-12 col-4 col-dt-4 grid-item">
                                    <div class="grid-image-wrapper">
                                        <a name="&lid=article-thumb-latest" class="grid-image" href="/articles/article1437469224234-1415914997716/" title="Article1437469224234" style="background-image:url(http://lpimages-st.cars.com/stock/767x767/65/img-553903493-1437383250365.JPG)"></a>
                                        <h3 class="grid-image-caption"><a name="&lid=article-name-latest" href="/articles/article1437469224234-1415914997716/">Article1437469224234</a></h3>
                                    </div>
                                    <h4 class="grid-image-title"><a name="&lid=article-name-latest" href="/articles/article1437469224234-1415914997716/">Article1437469224234</a></h4>
                                </div>
                                <div class="col-mb-12 col-4 col-dt-4 grid-item">
                                    <div class="grid-image-wrapper">
                                        <a name="&lid=article-thumb-latest" class="grid-image" href="/articles/article1437469103630-1415914997508/" title="Article1437469103630" style="background-image:url(http://lpimages-st.cars.com/stock/767x767/65/img-553903493-1437383250365.JPG)"></a>
                                        <h3 class="grid-image-caption"><a name="&lid=article-name-latest" href="/articles/article1437469103630-1415914997508/">Article1437469103630</a></h3>
                                    </div>
                                    <h4 class="grid-image-title"><a name="&lid=article-name-latest" href="/articles/article1437469103630-1415914997508/">Article1437469103630</a></h4>
                                </div>
                            </div>
                            <div class="container col-group">
                                <div class="col-mb-12 col-4 col-dt-4 grid-item">
                                    <div class="grid-image-wrapper">
                                        <a name="&lid=article-thumb-latest" class="grid-image" href="/articles/article1437468876070-1415914997142/" title="Article1437468876070" style="background-image:url(http://lpimages-st.cars.com/stock/767x767/65/img-553903493-1437383250365.JPG)"></a>
                                        <h3 class="grid-image-caption"><a name="&lid=article-name-latest" href="/articles/article1437468876070-1415914997142/">Article1437468876070</a></h3>
                                    </div>
                                    <h4 class="grid-image-title"><a name="&lid=article-name-latest" href="/articles/article1437468876070-1415914997142/">Article1437468876070</a></h4>
                                </div>
                                <div class="col-mb-12 col-4 col-dt-4 grid-item">
                                    <div class="grid-image-wrapper">
                                        <a name="&lid=article-thumb-latest" class="grid-image" href="/articles/article1437468754693-1415914997098/" title="Article1437468754693" style="background-image:url(http://lpimages-st.cars.com/stock/767x767/65/img-553903493-1437383250365.JPG)"></a>
                                        <h3 class="grid-image-caption"><a name="&lid=article-name-latest" href="/articles/article1437468754693-1415914997098/">Article1437468754693</a></h3>
                                    </div>
                                    <h4 class="grid-image-title"><a name="&lid=article-name-latest" href="/articles/article1437468754693-1415914997098/">Article1437468754693</a></h4>
                                </div>
                                <div class="col-mb-12 col-4 col-dt-4 grid-item last-item">
                                    <div class="grid-image-wrapper">
                                        <a name="&lid=article-thumb-latest" class="grid-image" href="/articles/bmw--benz1437468542065-1415914997004/" title="BMW & Benz1437468542065" ></a>
                                        <h3 class="grid-image-caption"><a name="&lid=article-name-latest" href="/articles/bmw--benz1437468542065-1415914997004/">BMW & Benz1437468542065</a></h3>
                                    </div>
                                    <h4 class="grid-image-title"><a name="&lid=article-name-latest" href="/articles/bmw--benz1437468542065-1415914997004/">BMW & Benz1437468542065</a></h4>
                                </div>
                            </div>
                            <a href="/news/Latest-News/" class="button secondary">View All Latest News</a>
                        </div>
                        <hr />
                    {{/if}}

                    {{#if isCuratedTag}}
                        <h2 class="primary">{{title}}</h2>
                        <div class="container col-group">
                            <div class="col-mb-12 col-7 col-dt-7">
                                <div class="container col-group">
                                    <div class="col-mb-12 col-6 col-dt-6">
                                        <div class="module">
                                            <p><a class="tag" name="&lid=category-name-category-highlight" href="/news/Toyota">Toyota</a></p>
                                            <ul class="content-list">
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/article1437469347084-1415914997755/">Article1437469347084</a> </li>
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/article1437469224234-1415914997716/">Article1437469224234</a> </li>
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/article1437469103630-1415914997508/">Article1437469103630</a> </li>
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/article1437468876070-1415914997142/">Article1437468876070</a> </li>
                                            </ul>
                                            <p><a name="&lid=more-articles-category-highlight" href="/news/Toyota">Read more on Toyota</a></p>
                                        </div>
                                    </div>
                                    <div class="col-mb-12 col-6 col-dt-6">
                                        <div class="module">
                                            <p><a class="tag" name="&lid=category-name-category-highlight" href="/news/SUVs">SUVs</a></p>
                                            <ul class="content-list">
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/body-media-alt-text-1415914992686/">Body media alt text </a> </li>
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/alt-text-test-2-1415914992372/">Alt text test 2</a> </li>
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/no-alt-text-1415914991764/">No Alt text</a> </li>
                                                <li><a name="&lid=article-name-category-highlight" href="/articles/alt-text-test-1415914989485/">Alt text test</a> </li>
                                            </ul>
                                            <p><a name="&lid=more-articles-category-highlight" href="/news/SUVs">Read more on SUVs</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-mb-12 col-5 col-dt-5">
                                <cars-ad slot="/6427/cdn.cars.news/index" size="cube"></cars-ad>
                            </div>
                        </div>
                    {{/if}}

                    {{#if isArticle}}
                        <div class="module">
                            <h2 class="primary">{{headline}}</h2>
                            <p>
                            <a name="&lid=article-image-spotlight" href="/articles/caption-uploader-test-1415912462233/"><img src="http://lpimages-st.cars.com/stock/1170x1170/21/480621144-1432310010021.jpg" alt="lambo.jpg" class="body-image" /></a>
                            <p class="photo-caption">
                            This is a classic.
                            <span class="helper-text">Photo by: Test Photographer</span>
                            </p>
                            </p>
                        </div>
                    {{/if}}

                {{/each}}

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container col-group">
            <div class="col-mb-12 col-4 col-dt-4">
                <h5>Our Company</h5>
                <span class="footer-item">
                    <a href="/about/" target="_self">About Cars.com</a>
                </span>
                <span class="footer-item">
                    <a href="/about/%2523contact-us/" target="_self">Contact Cars.com</a>
                </span>
                <span class="footer-item">
                    <a href="/sitemap/" target="_self">Site Map</a>
                </span>
                <span class="footer-item">
                    <a href="/careers/" target="_self">Careers</a>
                </span>
                <span class="footer-item">
                    <a href="/mobile/" target="_self">Mobile Site</a>
                </span>
                <span class="footer-item">
                    <a href="http://dealers.cars.com/" target="_self">For Car Dealers</a>
                </span>
                <span class="footer-item">
                    <a href="/sell/fraud/overview/" target="_self">Fraud Awareness</a>
                </span>
                <span class="footer-item">
                    <a href="http://www.carslicensing.com/" target="_self">Reprints & Permissions</a>
                </span>
            </div>
            <div class="col-mb-12 col-4 col-dt-4">
                <h5>Our Partners</h5>
                <span class="footer-item">
                    <a href="http://www.auto.com/" target="_self">Auto.com</a>
                </span>
                <span class="footer-item">
                    <a href="http://www.newcars.com/" target="_self">NewCars.com</a>
                </span>
                <span class="footer-item">
                    <a href="http://www.repairpal.com/" target="_self">RepairPal.com</a>
                </span>
            </div>
            <div class="col-mb-12 col-4 col-dt-4 social-media">
                <h5>Stay Connected</h5>
                <a href="http://www.facebook.com/CarsDotCom/" class="facebook" target="_self"></a>
                <a href="https://twitter.com/carsdotcom/" class="twitter" target="_self"></a>
                <a href="http://www.youtube.com/user/Carscom/" class="youtube" target="_self"></a>
                <a href="https://plus.google.com/+CarsDotCom/posts/" class="google" target="_self"></a>
                <div id="footer-search-fields">
                    <form id="googlemini-foot" action="/go/search/results.jsp" method="get" target="_top">
                        <input type="text" class="search-field" id="textEntry" name="q" placeholder="Enter Make or Model" value="" rel="Search Cars.com">
                        <input type="image" src="/static/www/dev/app/images/search-icon.png" id="footer-search-image">
                    </form>
                </div>
                <div id="logo">
                    <span>Powered By: &nbsp;</span>
                    <img src="/images/core/google-logo.png" alt="Google Logo" title="Google Logo">
                </div>
                <cars-cobrand-footer></cars-cobrand-footer>
            </div>
        </div>
        <div class="copyrights">
            <div class="container col-group">
                <div class="col-mb-12 col-12 col-dt-8">
                    <a href="/about/terms/" target="_self">Terms of Service</a>
                    <a href="/sell/terms/" target="_self">Sell Your Car Terms of Service</a>
                    <a href="/about/privacy/" target="_self">Privacy Statement</a>
                    <a href="/go/core/jsp/about/adDisplayInfo.jsp" target="_self">Ad Choices</a>
                    <a target = "_blank" href="https://secure.opinionlab.com/ccc01/o.asp?id=VuvIfpRR">[+] Feedback</a>
                    <a href="/cs/Satellite?c=Page&cid=1430860071616&pagename=www-cars-com%2FPage%2FNoMarginOneColumnPageLayout/" target="_self">Shoaib</a>
                </div>
                <div class="col-mb-12 col-12 col-dt-4 footer-text" id="footer-copyright">&copy; 2015 Cars.com All rights reserved.</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/www/dev/vendor/js/qualtrics.js"></script>
    <div id='ZN_e5sZQpBKez95p8V'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>
    <noscript>
        <a target="_blank" href="//www.qualtrics.com/crm-integration">CRM Integration</a><br/><a target="_blank" href="//www.qualtrics.com/enterprise-feedback-management">Enterprise Feedback Management</a><br/>
    </noscript>
</div>
<script src="/static/www/dev/vendor/js/clicktale.js"></script>
<script src="/static/www/dev/vendor/js/s_code.js"></script>
<script>
(function () {
 var path, lastSegment, o, k, props, eVars, events, prop37, eVar37, breakpoint, orientation, width, height, previousBreakpoint, previousOrientation, affiliate;
 function _readCookie(cookieName) {
 var values = window.document.cookie.match('(^|;)\\s*' + cookieName + '\\s*=\\s*([^;]+)');
 return values ? values.pop() : null;
 }
 affiliate = _readCookie('affiliate') || 'national';
 s_clven.server = '';
 props = CARSBRIDGE.getOmnitureBridgeValue('props');
 eVars = CARSBRIDGE.getOmnitureBridgeValue('evars');
 props.prop6 = props.prop18 = affiliate;
 path = window.location.pathname;
 lastSegment = ((/([^\/]+)\/$/.exec(path) || [])[1] || '').slice(0, 100);
 // default pageName & channel for entry point tracking
 // article details pages
 if (/^\/articles\/.+/.test(path)) {
     s_clven.channel = 'news';
     s_clven.pageName = s_clven.channel + '/article';
     previousCategory = (/\/news\/([^\/]+)\/$/.exec(document.referrer) || [])[1] || '';
     props.prop69 = 'article:' + previousCategory + '::' + lastSegment;
     // category index pages
 } else if (/\/news\/[^\/]+\/$/.test(path)) {
     s_clven.channel = 'news';
     s_clven.pageName = s_clven.channel + '/category';
     props.prop69 = 'category:' + lastSegment;
     // news landing page
 } else if (/^\/news\/$/.test(path)) {
     s_clven.channel = 'news';
     s_clven.pageName = s_clven.channel + '/index';
     props.prop69 = 'index';
 }
 // responsive tracking
 width = Math.max(window.document.documentElement.clientWidth, window.innerWidth || 0);
 height = Math.max(window.document.documentElement.clientHeight, window.innerHeight || 0);
 orientation = (width > height) ? 'landscape' : 'portrait';
 if (width <= 767) {
     breakpoint = 'mobile';
 } else if (width <= 976) {
     breakpoint = 'tablet';
 } else if (width <= 1170) {
     breakpoint = 'desktop';
 } else if (width > 1170) {
     breakpoint = 'large-desktop';
 }
 if ((typeof props.prop37 === 'string') && (props.prop37.indexOf('|') >= 0)) {
     prop37 = props.prop37.split('|');
     prop37[0] = breakpoint + ':' + orientation + ':' + width;
     previousBreakpoint = prop37[1].split(':')[0];
     previousOrientation = prop37[1].split(':')[1];
     if (previousBreakpoint && breakpoint != previousBreakpoint) {
         s_clven.events = (s_clven.events) ? s_clven.events + ',event62' : 'event62';
     }
     if (previousOrientation && orientation != previousOrientation) {
         s_clven.events = (s_clven.events) ? s_clven.events + ',event61' : 'event61'
     }
     props.prop37 = prop37.join('|');
 } else {
     props.prop37 = breakpoint + ':' + orientation + ':' + width + '|' + breakpoint + ':' + orientation + ':' + width;
 }
 if ((typeof eVars.eVar37 === 'string') && (eVars.eVar37.indexOf('|') >= 0)) {
     eVar37 = eVars.eVar37.split('|');
     eVar37[0] = breakpoint + ':' + orientation + ':' + width;
     eVars.eVar37 = eVar37.join('|');
 } else {
     eVars.eVar37 = breakpoint + ':' + orientation + ':' + width + '|' + breakpoint + ':' + orientation + ':' + width;
 }
 // overwrite props coming in explicitly from omniture strategy
 // overwrite eVars coming in explicitly from omniture strategy
 // overwrite events coming in explicitly from omniture strategy
 CARSBRIDGE.setOmnitureBridgeValue('props', props);
 CARSBRIDGE.setOmnitureBridgeValue('evars', eVars);
 // overrides for page-over-page prop, evar, event & listvar tracking
 if (CARSBRIDGE.getOmnitureBridgeValue('props')) {
     o = CARSBRIDGE.getOmnitureBridgeValue('props');
     for (k in o) {
         s_clven[k] = o[k];
     }
 }
 if (CARSBRIDGE.getOmnitureBridgeValue('evars')) {
     o = CARSBRIDGE.getOmnitureBridgeValue('evars');
     for (k in o) {
         s_clven[k] = o[k];
     }
 }
 if (CARSBRIDGE.getOmnitureBridgeValue('events')) {
     o = CARSBRIDGE.getOmnitureBridgeValue('events');
     // events is a comma-delimited string, so be careful about additions
     if (s_clven.events) {
         s_clven.events = s_clven.events + "," + o;
     } else {
         s_clven.events = o;
     }
 }
 if (CARSBRIDGE.getOmnitureBridgeValue('listvars')) {
     o = CARSBRIDGE.getOmnitureBridgeValue('listvars');
     for (k in o) {
         s_clven['list' + k] = o[k];
     }
 }
 // prevent them from firing on more than one page
 CARSBRIDGE.flushOmnitureBridgeValues();
 // setup responsive tracking for next page
 CARSBRIDGE.setOmnitureBridgeValue('props', { prop37: breakpoint + ':' + orientation + ':' + width + '|' + breakpoint + ':' + orientation + ':' + width });
 CARSBRIDGE.setOmnitureBridgeValue('evars', { eVar37: breakpoint + ':' + orientation + ':' + width + '|' + breakpoint + ':' + orientation + ':' + width });
 // Optimizely SiteCatalyst Integration
 optimizely = window.optimizely || [];
 optimizely.push(["sc_svar", s_clven]);
 optimizely.push("sc_activate");
 /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! ***************/
 var s_code=s_clven.t();if(s_code) { document.write(s_code); };document.close();
}());
</script>
<script>
ignition.load();
</script>
<script src="//s.btstatic.com/tag.js">{ site: "4IGCP5L" }</script>
<noscript><iframe src="//s.thebrighttag.com/iframe?c=4IGCP5L" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></noscript>
        </div>
    </body>
</html>
